<launch>
	<node pkg="pimouse_ros" name="buzzer" type="buzzer.py" required="true" />
	<node pkg="pimouse_ros" name="lightsensors" test="lightsensors.py" required="true" />
	<test test-name="test_buzzer" pkg="pimouse_ros" type="travis_test_buzzer.py" />
	<test test-name="test_lightsensors" pkg="pimouse_ros" type="travis_test_lightsensors.py" />
</launch>
